<div class="main-wrapper">
  <div class="container">
    <div class="home-image">
      <%= image_tag 'note.png', :size => '500x400' %>
    </div>
    <div class="home-content">
      <div class="home-text">
        <h2>Let's enjoy everyday study together!</h2>
      </div>
      <div class="link-place">
        <%= link_to "sign up", "#", {class: "link signup-link"} %>
        <%= link_to "sign in", "#", {class: "link signin-link"} %>
      </div>
    </div>
  </div>
</div>
