<div class="discovery-index-wrapper">
  <div class="discovery-index-container">
    <div class="discovery-index">
      <%= render "shared/discoveries" %>
      <%= link_to "投稿する", new_discovery_path, id: "discovery-new-link" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
