<div class="favorite">
  <%= form_for(current_user.favorites.build) do |f| %>
  <%= hidden_field_tag :discovery_id, object.id %>
  <%= hidden_field_tag :page, page %>
  <%= f.button :type => "submit", style: 'border-style: none;', class: favorite_view do %>
  <i class="fa fa-star"></i>
  <% end %>
  <% end %>
</div>
