
  <%= form_for(current_user.favorites.find_by(comment_id: object.id), html: { method: :delete }, remote: true) do |f| %>
  <%= hidden_field_tag :comment, comment %>
  <%= f.button :type => "submit", style: 'border-style: none;', class: "i-unfavo" do %>
  <i class="fa fa-star"></i>
  <span class="favorite-count"><%= object.favorites.count %></span>
  <% end %>
  <% end %>
