<div class="favorite">
  <%= form_for(current_user.favorites.find_by(discovery_id: object.id), html: { method: :delete }, remote: true) do |f| %>

  <%= f.button :type => "submit", style: 'border-style: none;', class: "i-unfavo" do %>
  <i class="fa fa-star un"></i>
  <span class="favorite-count"><%= object.favorites.count %></span>
  <% end %>
  <% end %>
</div>
