<div class="discovery-show-wrapper">
  <div class="discovery-show-container">
    <div class="discovery">
      <div class="discovery-profile"></div>
      <div class="discovery-content">
        <%= @discovery.content %>
        <div class="create-date"><%= l @discovery.created_at %></div>
      </div>
    </div>
  </div>
  <footer></footer>
</div>
