/* これらは他のcssファルを読み込む働きをするので消さない */
/*
 *= require_self
 *= require_tree .
 */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none; /*リンク下の線を消す*/
}

button {
  outline: 0;    /* ボタンを押す際に発生するの青枠戦を消す */
}

header {
  height: 6%;
  width: 100%;
  background-color: white;
  padding-bottom: 1%;
  border-bottom: 1px solid #bfbfc6;
  position: fixed;
  top: 0;
  z-index: 10;
}

/* バリデーションエラーによりレンダーされた際、field_with_errorsに要素が囲まれないようにし、レイアウトが崩れるのを防ぐ */
.field_with_errors {
  display: contents;
}

.d-wrapper {
  padding-top: 60px;
  background-color: rgb(227, 227, 227);
}

footer {
  height: 6%;
  width: 100%;
  background-color: white;
  border-top: 1px solid #bfbfc6;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.main-wrapper {
  width: 100%;
}

.logo-title {
  font-size: 30px;
  font-family: 'Chalkboard SE',sans-serif;
  color: rgba(255, 191, 0, 0.8);
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%); /* この要素の半分の大きさ分位置を戻す */
}

.header-link-box {
  float: right;
  margin-right: 3%;
}

li {
  list-style: none;
  float: left;
  margin-right: 25px;
}

.header-link {
  color: rgba(255, 191, 0, 0.8);
}

.home-image {
  margin-top: 120px;
  margin-left: 150px;
  float: left;
}

.home-content {
  margin-top: 30px;
  float: left;
  text-align: center;
}

.home-text {
  margin-top: 120px;
  margin-left: 60px;
}

.link-place {
  margin-top: 120px;
  margin-left: 60px;
}

.link {
  color: white;
  font-size: 20px;
  background-color: rgb(140, 145, 145);
  padding: 8px;
  border-radius: 7px;
  text-decoration: none;   /* リンクの下線を消す */
}

.signup-link {
  margin-right: 50px;
}

.info {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 174, 0, 0.51);
  width: 30%;
  padding: 7px 0;
  text-align: center;
  z-index: 9;
  color: white;
  border-radius: 20px;
}

.danger {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7px 0;
  text-align: center;
  z-index: 9;
  color: red;
}

.errors {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7px 0;
  text-align: center;
  z-index: 9;
  color: red;
}

.signup-form {
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.signup {
  margin-top: 35px;
  margin-left: 40px;
}

.signup-label {
  display: block;
  font-family: 'Chalkboard SE'
}

.signup-field {
  border: none;
  border-top: solid 1px rgb(219, 219, 219);
  border-bottom: solid 1px rgb(219, 219, 219);
  margin-top: 10px;
  width: 300px;
  height: 40px
}

.signup-button {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  font-size: 15px;
  background-color: rgba(255, 191, 0, 0.8);
  color: white;
  font-family: 'Chalkboard SE';
}

.favorite-count {
  font-size: 12px;
}

.comment-count {
  font-size: 12px;
}
