// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comment-wrapper {
  height: 100vh;
  background-color: rgb(227, 227, 227);
}

.comment-container {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
}

.comment-new {
  background-color: white;
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  overflow: scroll;
}

.comment {
  width: 440px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  overflow: hidden;
}

.comment-area {
  width: 410px;
  height: 500px;
  border: none;
  font-size: 18px;
  outline: 0;    /** フォームの青枠を消す **/
  resize: none;    /** フォームのリサイズを消す **/
}

.comment-btn {
  height: 50px;
  width: 50px;
  background-color: rgba(255, 191, 0, 0.8);
  border-radius: 50%;
  color: white;
  font-size: 15px;
  border: none;
  outline: 0;
  display: block;
    position: fixed;
    bottom: 30%;
    left: 0;
    right: 0;
    margin: auto;
}

.comment-partner-link {
  font-size: 13px;
  color: #b9b9b9;
}
