.discovery-index-wrapper {
  height: 100vh;
  background-color: rgb(227, 227, 227);
}

.discovery-index-container {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
}

.discovery-index {
  background-color: white;
  width: 500px;
  height: 87%;
  margin: 0 auto;
  overflow: scroll;
  position: absolute;
  top: 7%;
}

.discovery {
  width: 420px;
  margin: 0 auto;
  margin-top: 20px;
  border-bottom: solid 1px rgb(219, 219, 219);
  padding-bottom: 20px;
  overflow: hidden;
}

.d-image {
  margin-top: 10px;
  float: left;
}

.discovery-profile-name {
  float: left;
  margin-left: 20px;
  font-weight: bold;
  color: black;
}

.discovery-profile {
  height: 60px;
}

.discovery-index-content {
  padding-left: 20px;
  padding-top: 10px;
}

#content-link {
  color: black;
}

.create-date {
  margin-top: 20px;
  margin-left: 320px;
  color: rgba(141, 142, 139, 0.6);
}

.i-favo {
  font-size: 20px;
  float: left;
  margin-right: 20px;
  color: rgb(185, 185, 185);
  background-color: white;
}

.i-unfavo {
  font-size: 20px;
  color: rgba(255, 191, 0, 0.8);
  float: left;
  margin-right: 20px;
  background-color: inherit;
}

.comment-view {
  color: rgb(185, 185, 185);
}

.new-wrapper {
  height: 100vh;
  background-color: rgb(227, 227, 227);
}

.discovery-new-contaienr {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
  overflow: scroll;
  /* 要素を真ん中に指定
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  */
}

.discovery-form {
  background-color: white;
  width: 410px;
  height: 100vh;
  margin: 0 auto;
}

.content-form {
  width: 410px;
  height: 500px;
  border: none;
  font-size: 18px;
  margin-top: 80px;
  outline: 0;    /** フォームの青枠を消す **/
  resize: none;    /** フォームのリサイズを消す **/
}

.content-form-label {
  display: none
}

.create-link {
  height: 50px;
  width: 50px;
  background-color: rgba(255, 191, 0, 0.8);
  border-radius: 50%;
  color: white;
  font-size: 15px;
  border: none;
  outline: 0;
  display: block;
    position: fixed;
    bottom: 30%;
    left: 0;
    right: 0;
    margin: auto;
}

.discovery-show-wrapper {
  height: 100vh;
  background-color: rgb(227, 227, 227);
}

.discovery-show-container {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.discovery-show {
  background-color: white;
  width: 500px;
  margin: 0 auto;
  overflow: scroll;
  height: 87%;
  position: absolute;
  top: 7%;
}

.disc {
  width: 420px;
  border-bottom: solid 1px rgb(219, 219, 219);
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 20px;
  overflow:hidden;
}

.discovery-show-content {
  padding-left: 20px;
  padding-top: 10px;
}

.s-favo {
  font-size: 20px;
  float: left;
  margin-right: 20px;
  color: rgb(185, 185, 185);
}

.s-unfavo {
  font-size: 20px;
  color: rgba(255, 191, 0, 0.8);
  float: left;
  margin-right: 20px;
}

.comment-logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  font-family: Wawati SC;
}

.come-name {
  margin-top: 18px;
}

.comment-content {
  color: black;
}

.c-favo {
  font-size: 20px;
  margin-right: 20px;
  float: left;
  color: rgb(185, 185, 185);
}

.c-unfavo {
  font-size: 20px;
  color: rgba(255, 191, 0, 0.8);
  float: left;
  margin-right: 20px;
}

.dis-delete-link {
  float: right;
  margin-right: 38px;
}

#discovery-new-link {
  position: fixed;
  bottom: 80px;
  margin-left: 380px;
  color: white;
  background-color: rgba(255, 191, 0, 0.8);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
}

.discovery_search {
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
}

#q_content_cont {
  width: 200px;
  height: 30px;
  border: solid 1px #dbdbdb;
  outline: 0;
  border-radius: 20px;
}

.search-button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}
