.login-wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgb(227, 227, 227);
}

.login-form {
  width: 450px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.login {
  margin-left: 50px;
  margin-top: 40px;
}

.login-label {
  font-size: 20px;
  font-weight: bold;
}

.login-field {
  display: block;
  margin-top: 20px;
  margin-left: 30px;
  width: 300px;
  height: 50px;
  border: none;
  border-top: solid 1px rgb(219, 219, 219);
  border-bottom: solid 1px rgb(219, 219, 219);
  font-size: 20px;
  outline: 0;
}

.login-button {
  width: 100px;
  display: block;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: 'Chalkboard SE';
  background-color: rgba(255, 191, 0, 0.8);
  color: white;
}
