.user-show-wrapper {
  height: 100vh;
  background-color: rgb(227, 227, 227);
}

.user-show-container {
  background-color: rgb(227, 227, 227);
  width: 500px;
  height: 100vh;
  margin: 0 auto;
}

.user-new-wrapper {
  background-color: rgb(227, 227, 227);
  height: 100%;
}

.user-new-container {
  height: 100%;
  background-color: rgb(227, 227, 227);
  width: 50%;
  margin: 0 auto;
}

.user-new-form {
  background-color: white;
  width: 450px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.signup-form {
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.signup {
  margin-top: 35px;
  margin-left: 40px;
}

.signup-label {
  display: block;
}

.signup-field {
  border: none;
  border-top: solid 1px rgb(219, 219, 219);
  border-bottom: solid 1px rgb(219, 219, 219);
  margin-top: 10px;
  width: 300px;
  height: 40px;
  outline: 0;
}

.signup-button {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  font-size: 15px;
  background-color: rgba(255, 191, 0, 0.8);
  color: white;
}

.user-profile {
  background-color: white;
  width: 100%;
  height: 94vh;
}

.user-profile-main {
  border-bottom: solid 1px rgb(241, 241, 241);
  padding-bottom: 20px;
  height: 50%;
  overflow: scroll;
  position: relative;
}

.user-id {
  padding-top: 80px;
  text-align: center;
  font-weight: bold;
}

.user-image {
  margin-top: 35px;
  margin-left: 30px;
  float: left;
}

.image {
  border-radius: 50%;
}

#u_image {
  border-radius: 50%;
}

#u_n_image {
  border-radius: 50%;
}

.no-image {
  border-radius: 50%;
}

.following-status {
  text-align: center;
  margin-top: 90px;
  width: 50%;
  margin-left: 190px;
  display: flex;
  justify-content: space-evenly;
}

#following-count {
  color: black;
  font-weight: bold;
}

#follower-count {
  color: black;
  font-weight: bold;
}

.user-name {
  padding-top: 15px;
  margin-left: 20px;
  font-weight: bold;
  clear: left;
}

.user-introduce {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

.user-delete {
  text-align: center;
}



#user-feed {
  height: 43%;
  overflow: scroll;
}

.edit-profile-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 133, 255);
  font-size: 13px;
  position: fixed;
  top: 46%;
  padding-left: 370px;
}

.user-edit-wrapper {
  height: 100vh;
  background-color: rgb(227, 227, 227);
}

.user-edit-container {
  background-color: rgb(227, 227, 227);
  width: 500px;
  height: 100vh;
  margin: 0 auto;
}

.user-profile-edit {
  background-color: white;
  width: 100%;
  height: 94vh;
}

.user-edit-image {
  width: 100%;
  padding-top: 70px;
  border-bottom: solid 1px rgb(241, 241, 241);
}


.edit-image-box {
  margin-top: 30px;
  text-align: center;
}

#image_form {
  display: none;
}

.form-control {
  display: block;
  margin-top: 7px;
  text-align: center;
  color: rgb(0, 133, 255);
}

.image-delete {
  text-align: center;
  margin-top: 10px;
}

.image-delete-link {
  color: rgb(0, 133, 255);
}

.first-edit-label {
  margin-left: 10px;
  display: inline-block;
  margin-top: 10px;
}

.edit-label {
  display: inline-block;
  margin-top: 30px;
  margin-left: 10px;
}

.edit-field {
  display: inline-block;
  border: none;
  border-top: solid 1px rgb(219, 219, 219);
  border-bottom: solid 1px rgb(219, 219, 219);
  outline: 0; /* テキストボックスで入力中に出てくる青枠線を消す */
  resize: none; /* text_areaのリサイズを消す */
}

.edit-name-field {
  margin-left: 65px;
  height: 30px;
  width: 300px;
}

.edit-acount-field {
  margin-left: 54px;
  height: 30px;
  width: 300px;
}

.edit-score-field {
  margin-left: 72px;
  height: 30px;
  border: solid 1px rgb(219, 219, 219);
}

.edit-target-field {
  margin-left: 20px;
  height: 30px;
  border: solid 1px rgb(219, 219, 219);
}

.edit-introduce-field {
  margin-left: 45px;
  display: block;
  float: right;
  margin-top: 40px;
  margin-right: 60px;
  height: 70px;
  width: 300px;
}

.edit-profile-button {
  font-size: 20px;
  margin: 0 auto;
  display: block;
  margin-top: 100px;
  color: rgb(0, 133, 255);
  border: none;
  background-color: white;
}

.following-wrapper {
height: 100vh;
background-color: rgb(227, 227, 227);
}


.following-container {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
}

.following-user {
  background-color: white;
  width: 500px;
  height: 87%;
  margin: 0 auto;
  overflow: scroll;
  position: absolute;
  top: 7%;
}

.following {
  width: 430px;
  min-height: 55px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgb(219, 219, 219);
  position: relative;
}

.following-user-image {
  float: left;
  margin-right: 10px;
}

.following-user-id {
  padding-bottom: 7px;
  color: rgba(116, 116, 116, 0.42)
}

.following-user-name {
  color: black;
  font-weight: bold;
}

#following-form {
  position: absolute;
  top: 22px;
  left: 250px;
}

.f-follow {
  background-color: rgba(255, 191, 0, 0.8);
  border: none;
  padding: 3px 20px;
  color: white;
  font-weight: bold;
  outline: 0;
}

.f-unfollow {
  padding: 3px 25px;
  border: solid 1px rgb(219, 219, 219);
  outline: 0;
}

.s-follow {
  margin-left: 80px;
  position: absolute;
  top: 130px;
  border: none;
  background-color: rgba(255, 191, 0, 0.8);
  color: white;
  font-weight: bold;
  padding: 4px 50px;
  outline: 0;
}

.s-unfollow {
  margin-left: 80px;
  position: absolute;
  top: 130px;
  border: solid 1px rgb(219, 219, 219);
  padding: 4px 50px;
  outline: 0;
}

@media(max-width: 415px) {
  .user-show-wrapper {
    background-color: inherit;
  }

  .user-show-container {
    background-color: inherit;
    width: 95%;
    margin: 0 auto;
  }

  .user-profile-main {
    height: 48%;
  }

  .user-image {
    margin-left: 20px;
  }

  .user-image .image {
    width: 90px;
    height: 90px;
  }

  .user-image .no-image {
    width: 90px;
    height: 90px;
  }

  .following-status {
    margin-left: 42%;
    font-size: 15px;
  }

  .edit-profile-link {
    position: fixed;
    top: 44%;
    margin-left: 60%;
    padding-left: 0;
  }

  .discovery {
    width: 90%;
  }

  .create-date {
    margin-left: 75%;
  }

  .empty {
    height: 20px;
  }

  .user-edit-wrapper {
    background-color: inherit;
  }

  .user-edit-container {
    background-color: inherit;
    width: auto;
  }

  .user-profile-edit {
    height: 88%;
    position: absolute;
    top: 6%;
  }

  .user-edit-image {
    padding-top: 0;
  }

  .edit-image-box {
    margin-top: 4%;
  }

  #u_n_image {
    width: 80px;
    height: 80px;
  }

  .edit-name {
    width: 90%;
    margin: 0 auto;
  }

  .edit-name-field {
    width: 60%;
    margin-left: 30px;
  }

  .edit-acount-id {
    width: 90%;
    margin: 0 auto;
  }

  .edit-acount-field {
    width: 60%;
    margin-left: 20px;
  }

  .edit-label {
    margin-top: 8%;
  }

  .edit-introduce .edit-label {
    margin-left: 30px;
  }

  .edit-introduce-field {
    margin-top: 10px;
    width: 60%;
  }

  .edit-profile-button {
    margin-top: 110px;
  }

  .following-wrapper {
    background-color: inherit;
  }

  .following-container {
    width: auto;
  }

  .following-user {
    width: 90%;
  }

  .following {
    width: 100%;
    margin-left: 10%;
  }

  #following-form {
    position: absolute;
    left: 180px;
    top: 30px;
  }

  .s-follow {
    margin-left: 10%;
  }

  .s-unfollow {
    margin-left: 10%;
  }

  .user-new-wrapper {
    background-color: inherit;
  }

  .user-new-container {
    background-color: inherit;
    height: auto;
    width: auto;
  }

  .user-new-form {
    position: static;
    width: auto;
    height: auto;
  }

  .signup-form {
    width: 90%;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
  }

  .signup {
    margin-left: 5%;
  }

  .signup-button {
    margin-top: 40px;
  }
}
